@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --cor1: hsl(0, 0%, 100%);
    --cor2: hsl(47, 88%, 63%);
    --cor3: hsl(0, 0%, 42%);
    --cor4: hsl(0, 0%, 7%);
    --cor5: hsl(228, 45%, 44%);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: "Figtree", sans-serif;
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }